<!-- footer.html -->
<footer class="bg-dark text-white text-center py-4" style="padding-top:100px; margin-top:200px">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <!-- Created By -->
            <div class="d-flex align-items-center">
                <p class="mb-0 mr-3">Created by: <a href="#" class="text-white" rel="noopener">Wondping</a></p>
            </div>
            <div class="d-flex align-items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo" class="mr-3" style="max-width: 30px;">
                <p class="mb-0 mr-3"><a href="https://github.com/fixxall" class="text-white" target="_blank" rel="noopener" aria-label="Visit GitHub profile">fixxall</a></p>
            </div>

            <!-- Lab Partner -->
            <div class="d-flex align-items-center">
                <img src="http://159.223.57.92:5173/wondlab.png" alt="Lab Logo" class="mr-3" style="max-height: 30px;">
                <p class="mb-0"><a href="#" class="text-white" rel="noopener">Wondlab Security</a></p>
            </div>
        </div>
    </div>
</footer>